<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonCrypto-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CommonCrypto-macOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CommonCrypto-tvOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CommonCrypto-watchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52A318781FA4574D00AD1BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A318861FA4576900AD1BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A318931FA4577C00AD1BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A318A01FA4578E00AD1BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
